
.organize-event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.college-select {
  padding: 10px;
  margin-bottom: 20px;
}

.organize-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.organize-btn:hover {
  background-color: #45a049;
}

.change-btn {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.change-btn:hover {
  background-color: #d32f2f;
}
