.requests-container {
  padding: 20px;
}

.request-card {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  /* display: flex; */
  justify-content: space-between;
  background-color: rgba(192, 227, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.request-actions button {
  margin-left: 10px;
  cursor: pointer;
}

.accept-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.decline-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}
